/Caja/nbproject/private/
/Caja/dist/
/Caja/build/
/Caja2/nbproject/private/
/encapsulamiento/nbproject/private/
/encapsulamiento/build/
/domain.ContextoEstatico/nbproject/private/
/domain.ContextoEstatico/build/
